/* Estilos generales para el titulo principal */
h1 {
  text-align: center;
  font-size: 50px;
  color: #7fecfad0;
}

h1 b {
  color: white;
}

h1 strong {
  color: #ee2b7b;
}

/* Estilos generales para el formulario */
form {
  width: 80%;
  margin: auto;
  padding: 40px;
  background-color: #ffffff4f;
  border-radius: 8px;
  font-size: 20px;
}

/* Estilos para los labels */
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

label img {
  width: 30px;
}

label b {
  color: red;
}

/* Estilos para los inputs y textarea */
input[type="text"],
input[type="date"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Estilos para el botón */
.button-register {
  border: none;
  color: #fff;
  background-image: linear-gradient(30deg, #0400ff, #4ce3f7);
  border-radius: 20px;
  background-size: 100% auto;
  font-size: 17px;
  padding: 0.6em 1.5em;
  margin: 3px;
}

.button-show {
  border: none;
  color: #fff;
  background-image: linear-gradient(30deg, #ee2b7b, #f74cbeb4);
  border-radius: 20px;
  background-size: 100% auto;
  font-size: 17px;
  padding: 0.6em 1.5em;
  margin: 3px;
}

button:hover {
  background-position: right center;
  background-size: 200% auto;
  -webkit-animation: pulse 2s infinite;
  animation: pulse512 1.5s infinite;
}

@keyframes pulse512 {
  0% {
    box-shadow: 0 0 0 0 #05bada66;
  }

  70% {
    box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
  }

  100% {
    box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
  }
}
